<div ng-include="'app/shared/navbar/navbar.html'"> </div>

<div class="container">
  <form class="form-horizontal animated fadeInDown" ng-submit='sendMessage()'>
    <fieldset>
      <legend class="form-header">Send a Message to a TaskBunny User</legend>

      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name of User</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputName" placeholder="Antonio" ng-model="form.name">
        </div>
      </div>

      <div class="form-group">
        <label for="inputCity" class="col-lg-2 control-label">Message Category</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputCity" placeholder="Question About Task" ng-model="form.city">
        </div>
      </div>

      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea" ng-model="form.description"></textarea>
          <!-- <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span> -->
        </div>
      </div>
        
      <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default" ng-click='redirectCall()'>Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
  </form>
</div>